<div class="max-w-7xl mx-auto mx-8">
  <h1 class="mt-12 text-4xl font-extrabold text-gray-900 sm:text-5xl sm:tracking-tight lg:text-6xl text-red-600">Working in progress</h1>
  <p class="text-gray-800 mt-8">We don't know yet. ¯\_(ツ)_/¯ </p>

</div>