<div class="w-full h-fit">

  <div class="max-w-7xl mx-auto py-16 px-4 sm:py-20 sm:px-6 lg:px-8 mt-12">
    <div class="text-center">
      <h2 class="text-base font-semibold text-red-600 tracking-wide uppercase">Save Edit  View  Delete</h2>
      <p class="mt-1 text-4xl font-extrabold text-gray-900 sm:text-5xl sm:tracking-tight lg:text-6xl">Take control of your gems.</p>
      <p class="max-w-xl mt-5 mx-auto text-xl text-gray-500">Add your favourite and the most used gems.</p>
    </div>
  </div>
  <div class="bg-red-600 h-full w-full pb-12">
    <%= image_tag ("wave.svg"), class:"w-full bg-white" %>
    </div>
</div>