
<div class="max-w-7xl mx-8 mx-auto">
  <h1 class="mt-12 text-4xl font-extrabold text-gray-900 sm:text-5xl sm:tracking-tight lg:text-6xl text-red-600">Update a Gem</h1>
    <p class="text-gray-800">Update your favourite and the most used gems.</p>
    <%= render 'form', page: @page %>
</div>
  <%= link_to 'Show', @page %> |
  <%= link_to 'Back', pages_path %>
