<div class="max-w-7xl mx-auto">
  <h1 class="mt-12 text-4xl font-extrabold text-gray-900 sm:text-5xl sm:tracking-tight lg:text-6xl text-red-600">Add a Gem</h1>
    <p class="text-gray-800">Add your favourite and the most used gems.</p>
    <%= render 'form', page: @page %>
</div>